<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>design</title>

<link rel="stylesheet" href="../../css/awsui.css">
<link rel="stylesheet" href="../css/uidoc.css?v=1">
<style>
.head{
	background-color: #8039F5;
	padding-left:100px;
}
h1{
	font-size: 44px;
}
.main{
	padding:30px 140px;
	table-layout: fixed;
}
p{
	text-indent: 0em;
  	margin-bottom: 0px;
}
.tab{
	table-layout: fixed;
}
td{
	padding:20px 30px 20px 0px;
	width:390px;
}
img{
	margin-bottom: 16px;
}
fieldset{
	margin-top:100px;
}
</style>
</head>
<body>
	<div class="head">
		<h1>表单设计</h1>
	</div>
	<div class="main">
		<table class="tab" cellpadding="10" >
			<tr>
				<td colspan="3">
					<p>
						通常企业数据的单据复杂、紧凑，需要清晰、直观的将单据信息提供给用户，帮助他们快速准确的 完成工作。同时在设计中需要考虑到特定的需求
						场景，例如对打印纸张空间的充分利用。
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="padding-bottom:0px;">
					<h2>
						表单设计
					</h2>
					<p>
						 表单设计了三种显示方式，共用户在各种场景下能使用到最合适的
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<img src="../img/form/normal.png">
					<p> A、 普通输入框风格</p>
				</td>
				<td>
					<img src="../img/form/zabra.png">
					<p> B、斑马线风格</p>
				</td>
				<td>
					<img src="../img/form/concise.png">
					<p>  C、简洁风格</p>
				</td>
			</tr>
			<tr>
				<td rowspan="2">
					<p>
						信息项较多时，建议根据具体的信息内容和功能来进行分类展示。共提供四种展示方式作为建议参考
					</p>
				</td>
				<td>
					<img src="../img/form/group.png">
					<p>
					  1.分组显示：表单内容较多时，请分组显示
					</p>
				</td>
				<td>
					<img src="../img/form/newtab.png">
					<p>
					  2.新TAB打开显示：表单里的详细内容过多时，
                                   建议用新tab 打开来显示。
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<img src="../img/form/tree.png">
					<p>
					   3.导航树显示：多个表单需要一并填写时，建议用导航树显示，
                           避免出错和漏填
					</p>
				</td>
				<td>
					<img src="../img/form/box.png">
					<p>
					 4.盒子显示：当信息条目及分组都很多时，建议用盒子显示
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>
						用必要的帮助说明，引导用户理解和提供准确的数据项，提供2种提醒的设计建议
					</p>
				</td>
				<td>
					<img src="../img/form/static.png">
					<p>
					 1.固定文字提醒
					</p>
				</td>
				<td>
					<img src="../img/form/dynamic.png">
					<p>
					 2.动态文字提醒
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<fieldset>
						<legend></legend>
					</fieldset>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="padding-bottom:0px;">
					<h2>
						表单配色
					</h2>
					<p>
						基于用户可能的基本需求：批评、表扬、单独强调等而给出六种配色；配合三种适合查阅、打印等    
  						的显示方案共用户使用。
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<img src="../img/form/default.png">
				</td>
				<td>
					<img src="../img/form/green.png">
				</td>
				<td>
					<img src="../img/form/yellow.png">
				</td>
			</tr>
			<tr>
				<td>
					<img src="../img/form/pray.png">
				</td>
				<td>
					<img src="../img/form/blue.png">
				</td>
				<td>
					<img src="../img/form/red.png">
				</td>
			</tr>
		</table>
	</div>
</body>
</html>