<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>

<link rel="stylesheet" href="../../css/awsui.css">
<link rel="stylesheet" href="../css/uidoc.css?v=1">
<script src="../../js/jquery/scripts/jquery.js"></script>
<script src="../../js/awsui.js"></script>

<link rel="stylesheet" type="text/css" href="../dlhighlight/style.css"
	media="all" />
<script src="../dlhighlight/highlight.js"></script>
<script src="../dlhighlight/lang-js.js"></script>
<script src="../clipboard/clipboard.min.js"></script>
<script src="../js/public.js?v=1"></script>
<script type="text/javascript">
	$(document).ready(function() {

	});
</script>
</head>
<body>
	<div class="head">
		<span class="icon"> <img src="../img/header-components.svg">
		</span>
		<h1></h1>
	</div>
	<div class="section">
		<h1 id="desc">概览</h1>
		<pre class="code" id="demo1">
for i<10
<inpu
		</pre>
		
	</div>
	<div class="section_right">
		<div class="nav">
			<!-- 右侧导航 -->
		</div>
	</div>
</body>
</html>